<script type="text/javascript">
  $(document).ready(function(){
    console.log($( window ).height());
    $(".active-content").css('height', $( window ).height() - "62");
  });
</script>
<div class="row">
  <div class="body-content">
    <div class="row">
      <p class="span-18 content-title">You do not have any active campagins. Create One:</p>
    </div>
    <div class="row border col-md-10 col-sm-11 col-xs-10"></div>
    <div class="row col-md-12 post-content">
      <div class="col-xs-4 col-sm-4 col-md-4">
        <img src="img/dashboard/post_icon.png"><br/>
        <span>Post</span>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4">
        <img src="img/dashboard/deal_icon.png"><br/>
        <span>Deal</span>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4">
        <img src="img/dashboard/event_icon.png"><br/>
        <span>Event</span>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4">
        <img src="img/dashboard/listing_icon.png"><br/>
        <span>Listing</span>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4">
        <img src="img/dashboard/announcement_icon.png"><br/>
        <span>Announcement</span>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4">
        <img src="img/dashboard/newsletter_icon.png"><br/>
        <span>Newsletter</span>
      </div>
    </div>
    <div class="row col-md-12 sm-post-content">
      <div class="col-xs-6">
        <div>
          <img src="img/dashboard/sm_post_icon.png"><br/>
          <span>Post</span>
        </div>
      </div>
      <div class="col-xs-6">
        <div>
          <img src="img/dashboard/sm_deal_icon.png"><br/>
          <span>Deal</span>  
        </div>
      </div>
      <div class="col-xs-6">
        <div>
          <img src="img/dashboard/sm_event_icon.png"><br/>
          <span>Event</span>  
        </div>        
      </div>
      <div class="col-xs-6">
        <div>
          <img src="img/dashboard/sm_listing_icon.png"><br/>
          <span>Listing</span>  
        </div>        
      </div>
      <div class="col-xs-6">
        <div>
          <img src="img/dashboard/sm_announcement_icon.png"><br/>
          <span>Announcement</span>  
        </div>        
      </div>
      <div class="col-xs-6">
        <div>
          <img src="img/dashboard/sm_newsletter_icon.png"><br/>
          <span>Newsletter</span>  
        </div>        
      </div>
    </div>
  </div>
  <div class="active-content">
    <div class="row">
      <p class="span-15 content-title">RECENT ACTIVITY</p>
    </div>
    <div class="row border col-md-10 col-sm-11 col-xs-10"></div>
    <div class="row lg-content-block">
      <p class="span-15">Dan created a <span class="span-blue span-underline">deal</span>,</p>
      <p class="span-15 span-bold">$40 off everything!</p>
      <p><img src="img/dashboard/clock_icon.png" alt="Clock Icon" /><span class="span-13">  30m ago</span></p>
    </div>
    <div class="row sm-content-block">
      <p class="span-15">Dan created a <span class="span-blue span-underline">deal</span>, <span class="span-bold">$40 off everything!</span></p>
      <p><img src="img/dashboard/clock_icon.png" alt="Clock Icon" /><span class="span-13">  30m ago</span></p>
    </div>
    <div class="row border col-md-10 col-sm-11 col-xs-10"></div>
    <div class="row lg-content-block">
      <p class="span-15">John made an</p>
      <p class="span-15"><span class="span-blue span-underline">announcement</span>,</p>
      <p class="span-15 span-bold">We love our customers!</p>
      <p class="span-13"><img src="img/dashboard/clock_icon.png" alt="Clock Icon" />  1d 2h ago</p>
    </div>
    <div class="row sm-content-block">
      <p class="span-15">John made an <span class="span-blue span-underline">announcement</span>, <span class="span-bold">We love our customers!</span></p>
      <p class="span-13"><img src="img/dashboard/clock_icon.png" alt="Clock Icon" />  1d 2h ago</p>
    </div>
    <div class="row border col-md-10 col-sm-11 col-xs-10"></div>
  </div>
  <div class="clear"></div>
</div>