<!DOCTYPE html>

<html lang="en" ng-app="biInterface">
    <head>
    </head>
    <body>
        <h1><%= message %></h1>
        <h2><%= error.status %></h2>
        <p><%= error.stack %></p>
    </body>
</html>