<div class="middle page-size">
<h2>Sign up now, it's free and super easy</h2>


<form action="/create_account" method="post">
    <div class="form-container">
       
	    <div>
            <input type="email" name="email" placeholder="Email Address" />
        </div>

        <div>
            <input type="text" name="company" placeholder="Company Name" />
        </div>

        <div>

            <div>
                <input type="submit" value="Send"/>
            </div>
        </div>
    </div>
    
</form>

</div>