<div class="middle page-size">
<h2>Sign up now, it's free and super easy</h2>


<form action="/signup" method="post">
    <div class="form-container">
       
	    <div>
            <input type="text" name="name" placeholder="full name"/>
        </div>

        <div>
            <input type="email" name="username" placeholder="Email"/><br/>
        </div>

        <div>
            <input type="password" name="password" placeholder="password" />
        </div>
      
        <div>

            <div>
                <input type="submit" value="Sign up"/>
            </div>
        </div>
    </div>
    
</form>

</div>