<header>
	<nav class="navbar navbar-fixed-top">
		<div class="sm-navbar-menu">
			<a href="#"><img src="img/dashboard/menu_sm_icon.png" /></a>
		</div>
	  <div class="navbar-header">
	    <a class="brand" href="#"><img src="img/company_logo.png" alt="CompanyLogo" /></a>
	  </div>
	  <div class="sm-navbar-header">
	    <a class="brand" href="#"><img src="img/company_logo.png" alt="CompanyLogo" /></a>
	  </div>
	  <div class="navbar-collapse collapse">
	    <ul class="nav navbar-nav lg-menu-ul">
	      <li><a href="#">SUBSCRIBERS</a></li>
	      <li><a href="#">REPORTS</a></li>
	      <li><a href="#/integrations">INTEGRATIONS</a></li>
	    </ul>
	    <ul class="nav navbar-nav sm-menu-ul">
	      <li><a href="#">MENU <label class="span-arrow"></label></a></li>
	    </ul>
	    <ul class="nav navbar-nav other-nav navbar-right">
	  		<li class="sm-nav-li"><a href="#">Settings</a></li>
	      <li class="sm-nav-li"><a href="#">Help</a></li>
	      <li><a href="/signout">Sign Out&nbsp;<img src="img/signout_icon.png" alt="SignOut" /></a></li>
	  	</ul>
	  </div>
	</nav>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<div class="nav-side-menu">
	  <div class="menu-list">
	    <ul id="menu-content" class="menu-content collapse out">
	      <li class="new-menu">
	        <a href="#/dashboard">
	         <img src="img/dashboard/new_icon.png" alt="New Icon" />&nbsp;<span class="span-21">NEW</span>
	        </a>
	      </li>
	      <li data-target="#products" class="collapsed active">
	        <a href="#" class="span-15">DASHBOARD</a>
	      </li>
	      <li data-target="#products" class="collapsed">
	        <a href="#" class="span-15">CAMPAIGNS</a>
	      </li>
	      <li data-target="#products" class="collapsed">
	        <a href="#" class="span-15">
	        	<img src="img/dashboard/menu_icon.png" />    <span>Published</span><span class="badge-custom">0</span>
	        </a>
	      </li>
	      <li data-target="#products" class="collapsed">
	        <a href="#" class="span-15">
	        	<img src="img/dashboard/menu_icon.png" />    <span>Draft</span><span class="badge-custom">3</span>
	        </a>
	      </li>
	    </ul>
	  </div>
	</div>
</header>